
html {
    font: normal 14px Consolas;
}

.wrapper {
    width: 600px;
    padding: 15px 0;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0 0 15px 0;
}
.list li {
    margin: 0 0 5px 0;
}
.list li img {
    vertical-align: top;
}
